.carousel-m {
    opacity: 50%;
    padding-top: 2rem;
    text-align: left;
    &:hover {
        opacity: 100%;
        cursor: pointer;
    }
    p {
        color: nth($seconpalette, 1);
    }

    h2 {
        color: nth($mainpalette, 3);
    }

    img {
        border-radius: $borderradioimg;
        max-height: 400px;


            
        }
    }

@media screen and (max-width: 767px) {
        .carousel-m img {
            max-height: 200px;
        }
}
